/* VARIABLES */
$text-color: #2E3532;


/* IMPORTS */
@import './components/home';

.content {
  color: $text-color;
  font-family: Helvetica-bold, Helvetica;
  padding: 50px;
}

html, body, .content, .app-container {
  width: 100%;
  height: 100%;
}
